@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
  clear: both;
  float: right;
  z-index: 9990;
}
#cssmenu {
  max-width: 900px;
  float: right;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  z-index: 999;
  margin-top: 15px;
  font-weight: bold;
}
#sticky.stick #cssmenu  {
	margin-top: 5px;
}
#cssmenu .menu-hide {
  display: none;
  background: none;
  cursor: none;
  padding: 22px 15px 22px 15px;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
  background:#000;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  color: #fff;
	padding: 5px 18px 10px 18px;
	display: block;
	font-size: 15px;
	text-align: center;
	letter-spacing: 0.2px;
}
#sticky.stick #cssmenu > ul > li > a  {
	
}
#sticky.stick #cssmenu > ul > li:hover > a  {
	color: #fff;
}
#sticky.stick #cssmenu .current > a {
	color: #fff;
}
#cssmenu > ul > li:hover > a {
  color: #fff;
  border-radius: 4px;
}
#cssmenu .current > a {
  color: #fff;
  border-radius: 4px;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 14px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #fff;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 39px;
  
}
#cssmenu ul ul li a {
  padding: 10px 15px 15px 15px;
  width: 190px;
  font-size: 15px;
  background: #fff;
  text-decoration: none;  
  color: #1E1C17;
  -webkit-box-shadow: 1px 1px 2px rgba(50,50,50,.35);
	-moz-box-shadow: 1px 1px 2px rgba(50,50,50,.35);
	box-shadow: 1px 1px 2px rgba(50,50,50,.35)
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ED3C64;
  background: #fff;
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 1050px) {
#cssmenu > ul > li > a {
	padding: 11px 16px 10px 16px;
}
}
@media all and (max-width: 1000px) {
#cssmenu > ul > li > a {
	padding: 11px 15px 10px 15px;
}
}
@media all and (max-width: 900px) {
  .menus {
	width: 100%;
	background: none;
	padding: 0px 0;
}
#cssmenu ul ul li {
  padding-top: 0px;
}
#cssmenu .menu-hide {
	display: block;
}
  #cssmenu {
    width: 100%;
	margin-top: 8px;
	margin-left: 0px;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
	  background: #000;
    border-bottom: 1px solid #B8B8B8;	
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
  width: 100%;
	color: #fff;
	padding: 12px 15px 12px 15px;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 20px 20px 10px 30px;
    font-size: 14px;
    color: #000;
    background: #FFF3A6;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #fff;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
	width: 50px;
	position: relative;
	/*float: right;*/
	margin-bottom: 19px;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 18px;
    right: 20px;
    display: block;
    width: 25px;
    height: 2px;
    background: #fff;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 25px;
    height: 5px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }

}